---
import Layout from '@layouts/Layout.astro';
import Button from '@components/ui/Button.astro';

const seoTitle = "Page introuvable";
const seoDescription = "La page que vous cherchez n'existe pas ou a été déplacée.";
---

<Layout title={seoTitle} description={seoDescription}>
    <div class="w-full min-h-[80vh] flex items-center">
        <div class="site-container mx-auto px-4 py-base text-center">
            <div class="max-w-2xl mx-auto">
                <h1 class="mb-4 text-9xl font-bold text-primary" data-aos="fade-up">404</h1>
                <h2 class="mb-8" data-aos="fade-up" data-aos-delay="100">Oups… page introuvable</h2>
                <p class="text-body-base mb-12" data-aos="fade-up" data-aos-delay="200">
                    Désolé, la page que vous cherchez n'existe pas ou a été déplacée.<br />
                    Vous pouvez revenir à l’accueil ou utiliser le menu pour trouver ce que vous cherchez.
                </p>
                <div data-aos="fade-up" data-aos-delay="300">
                    <Button 
                        href="/" 
                        variant="primary"
                        size="lg"
                    >
                        Retour à l’accueil
                    </Button>
                </div>
            </div>
        </div>
    </div>
</Layout>
