
<div>
    <h3 class="text-xl-2 font-semibold mb-4">Changement d'adresse</h3>
</div>

<form id="moving-form">
    <div class="mb-12">
        Page en construction ...
    </div>

    <div class="mb-12">
        Veuillez envoyer votre demande via la page
        <a href="/contact" class="underline">Me contacter</a>.
    </div>
</form>